body {
	background: #f2f2f2;
}

.elgg-menu-item-account > a:after {
	content: none;
}

#feedbackWrapper {
	top: 70px;
}

.language_selector {
	margin: 0;
	float: none;
	padding: 0 5px;
}

#language-selector-popup {
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px rgba(0, 0,0,0.2);
}

#language-selector-popup a {
    color: #666;
    font-size: 13px;
}