body {
	background: #f2f2f2;
}

.elgg-menu-item-account > a:after {
	content: none;
}

#feedbackWrapper {
	top: 70px;
}

.language_selector {
	margin: 0;
	float: none;
	padding: 0 5px;
}

#language-selector-popup {
    margin-top: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px rgba(0, 0,0,0.2);
}

#language-selector-popup a {
    color: #666;
    font-size: 13px;
}
.elgg-form-blog-save div {
	width: auto !important;
}

.select.mls {
	margin: 0;
}
ul.tagit input[type="text"] {
    height: auto;
}
ul.tagit {
    border-radius: 0;
    border-color: #dedede;
    padding: 4px 8px;
}

.event-manager-forms-label-inline select, .event-manager-forms-label-inline input {
    display: inline-block;
    width: auto;
}

.event-manager-forms-label-inline label {
    line-height: 41px;
    min-width: 60px;
}


#new-choices-area > div {
    position: relative;
}

#new-choices-area > div .delete-choice {
    position: absolute;
    right: 0;
    top: 0;
    margin: 11px;
}

#new-choices-area {
    margin-bottom: 10px;
}